.header-right {
    cursor: pointer;
}
.header {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 9999;
    border-bottom: 2px solid rgb(226, 221, 221);
    height: 50px;
}
.frameContainer{
    width: 85vw;
    margin: auto;
    height: 80vh;
}
.frameContainer img{
    position: relative;
    height: 100%;
    width: 100%;
}
.centerdiv{
    display: flex;
    background-color: white;
    height: 10vh;
    width: 75vw;
    left: 10rem;
    border-radius: 5px;
    position: absolute;
    top: 25rem;
    padding: 10px 0px 10px 30px;
}
.innerdiv{
    display: flex;
    margin: auto;
}
.in-div{
    margin: 20px;
}
p{
    color: #017DBA;
    font-size: 12px;
    font-weight: 600;
}
.one{
    border: 1px solid #017DBA;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.two{
    border: 1px solid #017DBA;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.odd{
    border: 1px solid #017DBA;
    border-radius: 5px;
}
.search{
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: #017DBA;
    border: 1px solid #017DBA;
}
.search:active{
    background-color: crimson;
    border: 1px solid crimson;
}
.footer{
    margin: auto;
    width: 80vw;
}
.headerx{
    border-bottom: 2px solid #017DBA;
}
h2{
    text-align: center;
    color: #017DBA;
}
.cardbox{
    margin-top: 20px;
    width: 70vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.card{
    padding: 20px;
    text-align: center;
    width: 40rem;
    box-shadow: 1px 1px 4px #017DBA;
    /* border: 1px solid #017DBA; */
    border-bottom: 2px solid #017DBA;
    margin: 10px 20px;
    border-radius: 5px;
}
.card h3{
    font-size: 15px;
    color: #017DBA;
    font-weight: 600;
}
.card p{
    font-size: 15px;
    color: grey;
}

input{
    outline: none;
    border: none;
    width: 20rem;
    border-bottom: 2px solid #017DBA;
}
input::placeholder{
    color: #017DBA;
    font-size: 12px;
    font-weight: 600;
}
.framecon{
    background-color: #f1f1f1b8;
    margin: 20px auto;
    width: 85vw;
    height: 35vh;
    display: none;
}

.frame{
    width: 100%;
    height: 100%;
    overflow: auto;
}